@model Department
@{
    ViewData["Title"] = "Add";
}

<h1> Add </h1>

<form asp-action="SaveAdd" asp-controller="Department" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="MgrName"></label>
        <input asp-for="MgrName" class="form form-control" />
        <span asp-validation-for="MgrName" class="text-danger"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary mt-3 mb-3" />
</form>
<a asp-action="Index" asp-controller="Department">Back To List</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
