# Ignore Visual Studio cache/index files
*.vsidx
.vs/
bin/
obj/
Test/bin/Debug/net5.0/Test.deps.json
Test/bin/Debug/net5.0/Test.dll
Test/bin/Debug/net5.0/Test.exe
Test/bin/Debug/net5.0/Test.pdb
Test/bin/Debug/net5.0/Test.runtimeconfig.dev.json
Test/bin/Debug/net5.0/Test.runtimeconfig.json
Test/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Test/obj/Debug/net5.0/apphost.exe
Test/obj/Debug/net5.0/ref/Test.dll
Test/obj/Debug/net5.0/refint/Test.dll
Test/obj/Debug/net5.0/Test.AssemblyInfo.cs
Test/obj/Debug/net5.0/Test.AssemblyInfoInputs.cache
Test/obj/Debug/net5.0/Test.assets.cache
Test/obj/Debug/net5.0/Test.csproj.BuildWithSkipAnalyzers
Test/obj/Debug/net5.0/Test.csproj.CoreCompileInputs.cache
Test/obj/Debug/net5.0/Test.csproj.FileListAbsolute.txt
Test/obj/Debug/net5.0/Test.dll
Test/obj/Debug/net5.0/Test.GeneratedMSBuildEditorConfig.editorconfig
Test/obj/Debug/net5.0/Test.genruntimeconfig.cache
Test/obj/Debug/net5.0/Test.pdb
Test/obj/Debug/net5.0/Test.sourcelink.json
Test/obj/project.assets.json
Test/obj/project.nuget.cache
Test/obj/Test.csproj.nuget.dgspec.json
Test/obj/Test.csproj.nuget.g.props
Test/obj/Test.csproj.nuget.g.targets
Test/Program.cs
Test/Test.csproj
/Day7/Day7.docx
/Day8/day8.docx
