@model Student;
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<form method="post" action="/Student/SaveAdd">
    <div>
        <label>Name</label>
        <input type="text" name="Name" id="Name" value="@Model?.Name" class="form form-control" />
    </div>
    <div>
        <label>Age</label>
        <input type="number" name="Age" id="Age" value="@Model?.Age" class="form form-control" />
    </div>
    <select class="form-check form-control">
        @foreach(var department in ViewBag.Departments)
        {
            <option value="@department.Id">@department.Name</option>
        }
    </select>
    <input type="submit" value="Create" class="btn btn-primary mt-3 mb-3" />
</form>