@model List<Student>

<form method="get" action="/Student/ShowDetails" class="d-flex gap-2 align-items-center">
	<input type="number" name="id" class="form-control" placeholder="Enter Student ID" min="1" required />
	<button type="submit" class="btn btn-secondary" style="width:max-content">Show Details</button>
</form>

<table class="table table-hover table-bordered">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Age</th>
		<th>Department</th>
		<th></th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Id </td>
			<td>@item.Name </td>
			<td>@item.Age </td>
			<td>@item.Department.Name </td>
			<td><a href="/Student/Edit/@item.Id">✏️</a></td>
			<td><a href="/Student/Delete/@item.Id" class="btn btn-danger">🗑️</a></td>

		</tr>
    }

</table>
<form method="get" action="/Student/Add" class="d-flex gap-2 align-items-center mb-5">
	<button class="btn btn-success">Add</button>
</form>