@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="d-flex gap-3 align-items-start mt-3">

    
    <a class="btn btn-primary" href="/Student/ShowAll">Show All</a>

    <br />
    <form method="get" action="/Student/ShowDetails" class="d-flex gap-2 align-items-center">
        <input type="number" name="id" class="form-control" placeholder="Enter Student ID" min="1" required />
        <button type="submit" class="btn btn-secondary">Show Details</button>
    </form>

</div>
