@model Day02.Models.Student

@{
    ViewData["Title"] = "ShowDetails";
}

<h1>Student Details:</h1>

@if (Model == null)
{
    <div class="alert alert-warning mt-3">No student found with the given ID.</div>
}
else
{
    <div class="row mb-2">
        <div class="col-3">
            <h5 class="mt-1 mb-1">ID:</h5>
        </div>
        <div class="col-6">
            <div class="card mt-1">
                <div class="card-body pt-1 pb-1">
                    <h6>@Model.Id</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">
            <h5 class="mt-1 mb-1">Name:</h5>
        </div>
        <div class="col-6">
            <div class="card mt-1">
                <div class="card-body pt-1 pb-1">
                    <h6>@Model.Name</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">
            <h5 class="mt-1 mb-1">Age:</h5>
        </div>
        <div class="col-6">
            <div class="card mt-1">
                <div class="card-body pt-1 pb-1">
                    <h6>@Model.Age</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-3">
            <h5 class="mt-1 mb-1">Department:</h5>
        </div>
        <div class="col-6">
            <div class="card mt-1">
                <div class="card-body pt-1 pb-1">
                    <h6>@Model.Department?.Name</h6>
                </div>
            </div>
        </div>
    </div>
}
