<h4>Student</h4>
<p>View All: /Student/Index</p>
<p>Add new: /Student/Add</p>
<p></p>View details: /Student/ShowDetails?id=x</p>

<hr />

<h4>Department</h4>
<p>View All: /Department/Index</p>
<p>Add new: /Department/Add</p>
<p>View details: /Department/ShowDetails?id=x</p>
<p>Show extra details: /Department/ExtraInfo?id=x</p>