@model StudentDepVM
@{
    ViewData["Title"] = "Edit Student";
}

<h1>Edit</h1>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

<form asp-action="SaveEdit" asp-controller="Student" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" class="form form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="DepartmentId"></label>
        <select asp-for="DepartmentId" asp-items="@(new SelectList(Model?.Departments ?? new List<Department>(), "Id", "Name"))" class="form-control">
            <option value="">-- Select Department --</option>
        </select>
        <span asp-validation-for="DepartmentId" class="text-danger"></span>
    </div>
    <input type="submit" value="Update" class="btn btn-primary mt-3 mb-3" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}